In [147]:
import pandas as pd
from pandas import DataFrame, Series
import datetime
import numpy as np
import matplotlib.pyplot as plt

In [148]:
price = pd.read_excel("myAssetPool_final.xlsx", sheet_name = 'Adj_close', index_col=0)
BL_weights = pd.read_excel("BL_weights.xlsx", index_col = 0)

In [149]:
price.head()

,JKE,IWF,VTI,AOA,SCHX,VPL,VWO,BND,AGG,BLV,IAU
Date,,,,,,,,,,,
2013-12-31,94.472626,79.201256,84.738609,37.710819,39.011066,51.982285,34.600319,67.142357,90.489296,63.431301,11.68
2014-01-02,93.923103,78.510162,83.996521,37.321964,38.665913,51.057976,33.389236,67.201050,90.548790,63.648823,11.88
2014-01-03,93.496719,78.408775,83.978867,37.347317,38.674755,51.244526,33.347179,67.209480,90.582863,63.765339,12.01
2014-01-06,93.250404,77.938866,83.757996,37.296593,38.577400,51.032539,33.027584,67.268166,90.701874,63.920723,12.01
2014-01-07,93.913635,78.547020,84.296883,37.465664,38.816353,51.185162,33.162144,67.352066,90.744354,64.130486,11.95

In [150]:
BL_weights.head()

,JKE,IWF,VTI,AOA,SCHX,VPL,VWO,BND,AGG,BLV,IAU
2017-01-01,0.001121,-0.016953,0.588160,-0.052155,-0.039819,0.003998,0.070249,0.236667,0.030253,-0.010920,0.141781
2017-02-01,-0.015495,0.019240,0.624220,0.017270,-0.003625,0.020613,0.103538,0.147797,0.049639,-0.080270,0.069452
2017-03-01,-0.051404,0.035856,0.640684,-0.051870,0.156023,0.003998,0.103387,0.131333,-0.145918,0.060991,0.069301
2017-04-01,0.125664,0.160399,0.535513,-0.018596,-0.039656,0.056644,-0.001784,0.111961,-0.003007,0.008467,0.016776
2017-05-01,0.124840,0.159575,0.535633,-0.051873,0.065517,-0.067195,0.050862,0.131331,-0.002888,-0.062726,0.069303

In [151]:
'''weight = DataFrame(columns = BL_weights.columns, index=price['2017-01-03':].index)

for i in range(len(weight)):
    #date = str(weight.index[i])[:10]
    #print(date)
    month = str(weight.index[i])[:7]
    weight.iloc[i,:] = BL_weights[month].values'''

In [156]:
'''datelst = []
for date in ret_data_daily.index:
    d = date.strftime('%Y-%m')
    if d not in datelst:
        datelst.append(d)

print(datelst)'''

['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04']

In [158]:
'''# 計算初始單位
initial_capital = 1000000

ini_position = {}
for i in range(len(datelst)):
    time = price[datelst[i]].index[0].strftime('%Y-%m-%d')
    
    initial_position = (initial_capital * weight.iloc[i]) / price[time:time].values.reshape(11,)
    ini_position[time] = initial_position'''

In [163]:
initial_capital = 1000000

initial_position = (initial_capital*BL_weights.iloc[0]) / price['2017-01-03':'2017-01-03'].values.reshape(11,)

In [159]:
'''position_df = DataFrame.from_dict(ini_position).T
position_df.head()'''

,JKE,IWF,VTI,AOA,SCHX,VPL,VWO,BND,AGG,BLV,IAU
2017-01-03,9.43494,-166.872,5405.71,-1218.04,-790.547,74.4356,2127.84,3230.66,306.184,-139.038,12704.4
2017-02-01,9.15243,-162.415,5348.18,-1195.86,-780.8,71.3012,2029.64,3230.76,306.276,-139.337,12180.5
2017-03-01,8.71848,-154.45,5088.65,-1160.32,-741.63,69.4756,1957.87,3218.49,305.317,-138.056,11775.9
2017-04-03,8.70971,-154.839,5167.1,-1156.84,-752.026,68.7236,1919.24,3194.97,302.926,-136.286,11746.6
2017-05-01,8.37949,-150.608,5086.82,-1136.6,-740.947,68.0584,1896.97,3187.21,302.096,-135.991,11727.1

In [161]:
for time, p in price.loc[datetime.datetime(2017,1,3):].iterrows():
    print(time, p.values)
    index_value = initial_position * p.values
    #print(position_df.iloc)
    #index_value = initial_position * p
    #print(index_value, sum(index_value))
    #index[time] = index_value
    
#print(index)'''

[1120.707582071867 -16953.34304794704 588159.6395222849 -52154.94587410243
 -39818.51115543037 3997.645948260348 70248.84187570077 236666.69779727492
 30252.66062179534 -10919.675853883251 141781.234964943]
[1097.3241092841558 -16628.609559793138 586356.8246219303
 -51615.26196111556 -39569.36741645112 3896.513975669643 67618.19049504238
 236849.12287246273 30270.097074065812 -10981.080122772875
 136543.6084610832]
[1049.9724904553343 -15838.364312144144 556807.6827994504
 -50269.83406792611 -37584.33064983483 3822.176823143502 65906.30178440017
 237146.18544021674 30300.81595904645 -11006.1684631227 134009.17568427496]
[1056.2203726011487 -15980.909435179332 567181.4179591509
 -50056.22295537356 -38259.390752579966 3768.8576531235985
 64343.120346616415 234486.24511520157 29963.888347090473
 -10781.315384344754 132736.37304510406]
[1017.2373618610334 -15542.842068563657 556225.6039377664
 -49037.02622256482 -37577.54600890094 3746.081775904285 63492.52890944231
 234494.77398190898 29931.50367681414 -10814.06378630106
 133454.95862390535]
[988.6669841464969 -15094.860446384486 547436.1872424657
 -48018.303807254386 -36859.044908454285 3657.0758624936907
 62998.83788854347 232286.4177300058 29655.966166170627
 -10544.937249526778 132840.07071562062]
[1002.3677175082973 -15316.226825644193 547746.8587801901
 -48238.34514147933 -36925.30881765601 3670.5451760644764
 63179.75642333374 232318.55990821103 29736.44530817704
 -10488.829551207667 138517.73414451472]
[962.1550084250387 -14828.459646653073 536408.8818776045 -47092.2587769447
 -36121.724244388766 3532.8310112789254 60150.6111051841
 230051.47412522385 29514.54123067284 -10378.94514633388
 133652.91087626453]
[957.5486021573907 -14624.438392735394 536809.7209960343
 -47010.821205233384 -36104.117530011616 3558.588592267887
 58160.41849532429 228557.50312714666 29334.728184557465
 -10243.560507974567 128437.12085393847]
[945.4367547403621 -14391.20396070089 520159.05430244043
 -46131.62690033695 -35169.02842903734 3501.722449643246 58754.85335457392
 230051.72924191237 29518.815384285313 -10330.731194901562
 135975.28760532037]
[917.0228958117248 -13929.708985375972 512544.5668769656 -45293.9091216443
 -34542.71590262667 3319.401431827065 57055.346896917465
 228686.92834597337 29367.646238938083 -10189.021978652725
 134258.15344315008]
[896.0067788409646 -13532.498161182253 496909.2751156605
 -44614.21413527056 -33528.841405392945 3285.237648173813
 57792.69288458335 228072.11149959802 29264.50399065103
 -10013.743772588175 133597.11458505382]
[875.1771407389111 -13252.298116487302 488464.30855626706
 -43846.838877952876 -32928.10698689595 3208.9715455984033
 54343.5322686676 228265.36882074978 29262.97429459611 -10001.705732265691
 130031.40679924647]
[815.9702133965886 -12560.986610183309 466416.2183825198
 -42533.83614948645 -31378.490394431476 3084.81511018224 52112.70106358044
 231745.97848712926 29727.820668452165 -10299.022385686883
 127898.25658401618]
[847.5104796474167 -13114.178087367382 494081.10852030205
 -44690.91492230765 -33214.75768147278 3289.694136127715 54947.27574820066
 232781.3161199448 29863.056247315017 -10449.920268620397
 130883.62505822336]
[882.9240294407539 -13727.467457497283 513974.63331883965
 -45667.55593790704 -34595.98751922892 3333.876206398926
 56359.147467989154 230929.19760324518 29640.48645576189
 -10211.240706226592 127152.1405767488]
[842.7926133035944 -13258.30452244889 498540.3246639038
 -44870.856396916315 -33612.02253815785 3263.6608980336505
 57197.65763202367 233334.05146292242 29937.009614291135
 -10509.486047335142 129447.51022118027]
[806.6426894545252 -12625.721463391592 480292.55485614797
 -44284.037839770295 -32471.30751658328 3247.82444669912 57651.40317913237
 231509.2020713794 29776.348288747697 -10434.158440141302
 130927.7178150488]
[794.5759530370141 -12524.082844785067 477490.5501086361
 -44733.908985636765 -32320.672577438203 3414.6256937937264
 61595.51022864198 231303.1021303929 29723.681588881747 -10420.60850880578
 137253.77681147924]
[782.1016859999019 -12188.675779120735 464211.94166133 -43598.45063553094
 -31310.43448793256 3329.6809178280255 59066.771174136724 231857.836763227
 29806.26951590325 -10477.826207303691 141902.83400605398]
[-10418.569390261158 13198.424180103992 476392.10975365486
 14449.019141972734 -2761.4335740312154 17617.18594912867
 92441.86444623518 143722.2764684547 48566.017156359056 -76172.09079512024
 70604.91129060177]
[-10276.091537708624 13083.421530151585 474388.6778988561
 14302.223392100304 -2736.923168725149 17065.831228400075
 91698.08785449852 144648.69119976854 48854.68407981818 -77081.94301470787
 71280.11896976938]
[-11243.257899109325 14304.396325268774 511238.0375273669
 15202.69663473704 -2942.577351660599 18928.11881997837 96699.71167227151
 145399.96555524872 49048.0314170677 -79289.55287160639 68982.35569909454]
[-10956.892386524958 14121.16871145079 499793.0411118436
 14966.593827490386 -2877.8866393804738 18246.699232564675
 93469.59425751131 144970.18353177066 48855.690361393885
 -78832.22757065253 70100.40737703427]
[-12132.998853198354 15710.931684462701 556228.8366325034
 15996.767629057807 -3198.3593042936636 19715.0921657142 97831.19112102162
 142466.7845300944 47997.54198036069 -76213.04672512175 67024.40921873412]
[-11185.294123391466 14461.852098873838 512688.58853123925
 15067.342034128145 -2956.233096713744 18529.882564722495
 90993.73285785771 141963.63224418488 47835.15881555799 -76039.86586424896
 65710.13487071592]
[-10776.882370061592 13926.344130832042 495737.48448807606
 14720.769178707465 -2862.4406664379185 18182.096842495906
 91029.15561403873 141751.27845835115 47753.584672895806 -76122.2348167889
 66642.85832797209]
[-10518.108369489444 13539.667120973127 488479.51702496986
 14521.988607515443 -2808.87463325562 18061.423866843696 88551.56443752159
 139141.2934532491 46891.28635431276 -72955.57802436463 67028.3560771869]

'\nfor time, p in price.loc[datetime.datetime(2017,1,3):].iterrows():\n    print(time, p.values)\n    index_value = initial_position * p.values\n    #print(position_df.iloc)\n    #index_value = initial_position * p\n    #print(index_value, sum(index_value))\n    #index[time] = index_value\n    \n#print(index)'

In [57]:
portfolio_df = DataFrame.from_dict(index).T
#index_df.columns = price.columns

portfolio_df

,JKE,IWF,VTI,AOA,SCHX,VPL,VWO,BND,AGG,BLV,IAU
2017-01-03,1120.707582,-16431.361306,588159.639522,-51632.964132,-39296.529414,3997.645948,-50646.711810,236144.716056,151148.214308,109975.877832,19841.717795
2017-01-04,1131.196282,-16558.847263,592664.453015,-52046.550953,-39538.149276,4067.803546,-51108.775795,236320.093378,151190.125296,110356.848827,19930.614721
2017-01-05,1136.256392,-16585.278046,591500.306730,-52242.467762,-39538.149276,4095.049890,-51640.865967,237518.394409,151818.918498,111635.110144,20232.863250
2017-01-06,1144.168968,-16692.549760,593372.995658,-52177.157559,-39691.909805,4082.108338,-51430.840075,236583.122471,151315.869931,110774.720378,20090.628847
2017-01-09,1145.364892,-16690.993774,591095.307384,-52024.774752,-39567.434728,4097.093189,-51346.821525,237167.639764,151567.382544,111352.405308,20232.863250
2017-01-10,1147.756956,-16697.212782,591550.869785,-52079.201454,-39552.794978,4097.773815,-51626.867752,237109.180657,151525.471556,111254.064365,20339.538204
2017-01-11,1146.100989,-16709.648330,593423.723682,-52307.764165,-39640.654311,4137.961427,-52074.962782,237226.172653,151707.132521,111610.516896,20375.097652
2017-01-12,1146.929153,-16692.549760,591854.619294,-52253.342063,-39582.077454,4135.237503,-52200.970124,237284.533386,151762.955483,111585.912964,20463.994578
2017-01-13,1149.965175,-16742.300588,593322.473846,-52351.298168,-39669.945716,4148.860249,-52144.971413,236904.561484,151497.542568,111008.260085,20535.111779
2017-01-17,1145.825007,-16715.869805,590690.349281,-52198.919960,-39530.821961,4127.064309,-52088.949293,237635.214249,152014.538122,111819.452671,20819.580584
2017-01-18,1150.149236,-16748.517128,592057.036482,-52177.157559,-39618.693198,4113.440711,-51892.927468,236407.720555,151357.780919,110762.434437,20624.008704
2017-01-19,1146.469038,-16701.877038,589728.702669,-52035.658252,-39486.902711,4111.397129,-51752.898502,235998.605177,150966.530000,110270.825876,20606.228980
2017-01-20,1146.837086,-16725.197083,591753.369457,-52188.036460,-39604.044520,4127.064309,-51836.917052,236173.933312,151022.434659,110061.879417,20659.566457
2017-01-23,1150.149236,-16737.636333,590184.265069,-52296.880665,-39508.857871,4127.744652,-52551.024982,236816.983494,151441.649580,110811.631617,20801.800860
2017-01-24,1156.037365,-16841.799777,594790.328398,-52525.443376,-39787.096454,4146.816951,-52929.087973,236466.253443,151204.107296,110246.243311,20712.903934
2017-01-25,1164.594044,-16969.282032,599902.599667,-52841.069492,-40101.929947,4183.598593,-53391.181218,235764.793341,150798.897719,109385.906962,20552.891503
2017-01-26,1163.029783,-16939.742979,599042.120406,-52797.530890,-40079.965858,4183.598593,-53167.139555,235852.518893,150896.678353,109570.281539,20339.538204
2017-01-27,1162.109554,-16945.961987,598080.308824,-52721.341786,-40014.070614,4157.034578,-53223.149971,236115.547986,151022.434659,109963.570525,20375.097652
2017-01-30,1154.841369,-16857.344828,594031.181458,-52449.258872,-39779.772114,4146.816951,-52957.101959,236057.064285,150952.547999,109619.446668,20481.774302
2017-01-31,1153.829433,-16844.905579,594537.265671,-52438.366172,-39772.444799,4153.628324,-52985.121797,236553.954401,151315.869931,110160.209676,20748.463383
2017-02-01,1155.301555,-16882.218391,594486.661374,-52590.744379,-39787.096454,4173.381249,-53097.136776,236138.075770,151103.035407,109739.752736,20695.125906
2017-02-02,1155.485256,-16875.999384,594891.578235,-52536.322277,-39809.054591,4182.236205,-53279.154534,236284.555553,151187.044120,109678.141415,20801.800860
2017-02-03,1159.533646,-16977.053324,599396.432970,-52884.612694,-40101.929947,4204.032428,-53615.222881,236342.990067,151229.071820,109727.434745,20872.918061
2017-02-06,1159.257592,-16959.953520,597979.141472,-52677.821584,-40036.031727,4185.642459,-53489.203835,237075.167638,151663.097390,110257.653211,21157.386866
2017-02-07,1160.729642,-17003.485341,597928.578418,-52666.928883,-40028.710364,4176.106310,-53293.164453,237455.926537,151817.109475,110738.492878,21104.049389
2017-02-08,1165.605907,-17040.796919,598586.558006,-52743.122587,-40087.290197,4191.772354,-53713.227941,238100.230995,152251.146716,111724.925712,21228.504067
2017-02-09,1172.782458,-17140.297342,602534.559263,-52917.253995,-40328.910059,4193.135310,-53993.274168,237455.926537,151887.147859,110849.493681,21086.269665
2017-02-10,1177.750718,-17191.600454,605065.475233,-53167.583708,-40482.676541,4225.829220,-54483.357991,237397.319867,151859.125503,110911.115686,21139.608837
2017-02-13,1182.442923,-17264.667625,608102.434174,-53319.957315,-40695.004998,4239.452534,-54693.401439,237133.823495,151635.110047,110738.492878,20997.374435
2017-02-14,1186.214755,-17328.414923,610329.600636,-53396.151019,-40870.726641,4229.235474,-54777.402432,236635.949632,151299.051849,110294.596500,21015.152463
...,...,...,...,...,...,...,...,...,...,...,...
2019-03-19,1701.364186,-24016.549329,764475.114740,-62700.472188,-51617.835856,4742.973100,-63461.591798,249860.053928,159350.338215,119081.853817,22241.926304
2019-03-20,1707.916213,-24022.775740,761323.213520,-62677.058402,-51440.635061,4746.573859,-63446.844515,250951.618516,160001.831744,119964.347593,22384.160707
2019-03-21,1730.880773,-24375.583505,770253.737783,-63098.570950,-52021.100106,4776.100316,-63594.223713,251014.012607,160031.429702,120432.335098,22295.263781
2019-03-22,1693.668494,-23847.172678,754178.398184,-62068.198766,-51020.555485,4705.525029,-61678.294130,252386.190748,160831.006387,121863.027547,22348.601258
2019-03-25,1695.449495,-23847.172678,753660.889855,-62091.617152,-50974.716610,4716.058692,-61961.816503,252697.989051,161127.149358,122090.360183,22526.395109
2019-03-26,1704.822820,-23962.110800,759470.774559,-62372.633184,-51326.064657,4755.022767,-62168.547664,252760.383142,161156.747316,122076.941799,22419.718459
2019-03-27,1693.762360,-23831.205623,755984.810743,-62278.964240,-51104.572591,4731.934007,-61489.271413,253228.178970,161497.287223,122932.694958,22295.263781
2019-03-28,1702.011024,-23950.933861,759312.239174,-62396.051570,-51303.148195,4744.199476,-62020.881713,253352.868778,161512.132887,123253.593045,21975.235528
2019-03-29,1713.727537,-24163.261151,764330.189312,-62665.351509,-51639.216618,4752.137560,-62759.217322,253165.784878,161497.287223,123200.111811,22010.794976
2019-04-01,1735.005106,-24429.859155,773203.469268,-63227.369772,-52242.604077,4822.849142,-63704.307501,252165.413547,160758.166934,122030.404792,21904.118327
2019-04-02,1739.316737,-24495.314211,773150.761614,-63296.677339,-52257.877750,4802.645589,-63512.341179,252290.423073,160936.256537,122124.269379,21993.015252
2019-04-03,1745.221926,-24583.115742,774999.241315,-63461.148836,-52372.442201,4834.393948,-63822.443773,251946.530057,160639.424970,121507.216022,21957.457499
2019-04-04,1743.722091,-24594.287745,776636.725430,-63496.389114,-52479.375768,4829.343060,-64235.911948,252196.622890,160758.166934,121748.693515,22010.794976
2019-04-05,1751.220837,-24723.598685,780545.175325,-63766.586045,-52731.421133,4838.001239,-64752.751556,252384.223256,160876.885555,121976.720573,21993.015252
2019-04-08,1751.408425,-24761.914683,781231.859551,-63837.071200,-52784.884940,4827.178231,-64708.457038,252134.155017,160802.668910,121815.742700,22099.691902
2019-04-09,1747.658979,-24642.186444,776530.980183,-63555.130577,-52494.643489,4792.543813,-64619.850445,252509.257376,160891.754561,122325.502404,22188.587132
2019-04-10,1754.407808,-24749.143506,780122.606761,-63684.357196,-52700.867834,4811.303768,-64929.958891,252853.150392,161203.443463,122754.783854,22259.706028
2019-04-11,1750.846094,-24728.386334,780069.816623,-63684.357196,-52700.867834,4786.049895,-64176.846738,252415.457193,161010.473183,122231.605767,21993.015252
2019-04-12,1758.344553,-24868.874213,785298.844831,-64025.039283,-53052.215882,4822.126775,-64575.550074,251946.530057,160698.772610,121896.242320,21957.457499
2019-04-15,1757.313614,-24875.258567,784664.950744,-63978.046112,-53021.656631,4822.849142,-64235.911948,252009.071710,160669.092954,121855.997852,21921.898051
2019-04-16,1749.721001,-24867.277507,784876.276268,-64025.039283,-53052.215882,4838.001239,-64752.751556,251571.378511,160387.107050,121292.596663,21744.104200
2019-04-17,1737.723324,-24800.228213,781971.333916,-64048.535868,-52891.812555,4842.330896,-64915.182347,251571.378511,160372.238045,121252.362879,21708.546447
2019-04-18,1744.190987,-24857.699742,783133.211875,-63989.794405,-52991.109286,4827.178231,-64989.018249,251915.271527,160580.053988,121614.552409,21726.326171
2019-04-22,1751.314703,-24923.149862,783344.537399,-64036.787575,-53044.573093,4814.912194,-64605.085605,251665.154100,160387.107050,121118.189723,21708.546447
2019-04-23,1773.623067,-25210.507506,791214.474781,-64283.487921,-53510.473687,4836.558777,-64752.751556,252102.921081,160669.092954,121587.715642,21655.208970
2019-04-24,1767.905465,-25153.035978,790158.259584,-64213.002765,-53411.188861,4780.277208,-63999.645256,252759.399396,161040.152838,122526.714062,21726.326171
2019-04-25,1781.402979,-25157.823626,788837.846240,-64072.032453,-53365.361890,4783.163836,-63881.508983,252696.833149,161025.295504,122312.094703,21744.104200
2019-04-26,1786.745693,-25314.271157,793115.909590,-64306.984506,-53617.407254,4809.861306,-64176.846738,253259.609655,161351.865082,122821.854407,21868.560574
2019-04-29,1788.339251,-25331.829983,794277.952518,-64400.966247,-53670.865109,4834.393948,-64058.710466,252728.116273,161069.832493,122124.269379,21779.663648
2019-04-30,1785.152280,-25236.044924,794330.742657,-64483.199696,-53716.698033,4810.582537,-64103.016689,253103.243225,161173.717123,122459.632826,21850.780850

In [35]:
etf_value = [portfolio_df[i:i+1].values for i in range(len(portfolio_df))]
portfolio_df['index'] = [sum(value[0]) for value in etf_value]

portfolio_df.head()

,JKE,IWF,VTI,AOA,SCHX,VPL,VWO,BND,AGG,BLV,IAU,index
2017-01-03,1120.707582,-16431.361306,588159.639522,-51632.964132,-39296.529414,3997.645948,-50646.711810,236144.716056,151148.214308,109975.877832,19841.717795,952380.952381
2017-01-04,1131.196282,-16558.847263,592664.453015,-52046.550953,-39538.149276,4067.803546,-51108.775795,236320.093378,151190.125296,110356.848827,19930.614721,956408.811778
2017-01-05,1136.256392,-16585.278046,591500.306730,-52242.467762,-39538.149276,4095.049890,-51640.865967,237518.394409,151818.918498,111635.110144,20232.863250,957930.138263
2017-01-06,1144.168968,-16692.549760,593372.995658,-52177.157559,-39691.909805,4082.108338,-51430.840075,236583.122471,151315.869931,110774.720378,20090.628847,957371.157392
2017-01-09,1145.364892,-16690.993774,591095.307384,-52024.774752,-39567.434728,4097.093189,-51346.821525,237167.639764,151567.382544,111352.405308,20232.863250,957028.031551

In [36]:
# 計算日報酬
ret_data_daily = portfolio_df.pct_change().dropna()
ret_data_daily.head()

,JKE,IWF,VTI,AOA,SCHX,VPL,VWO,BND,AGG,BLV,IAU,index
2017-01-04,0.009359,0.007759,0.007659,0.008010,0.006149,0.017550,0.009123,0.000743,0.000277,0.003464,0.004480,0.004229
2017-01-05,0.004473,0.001596,-0.001964,0.003764,0.000000,0.006698,0.010411,0.005071,0.004159,0.011583,0.015165,0.001591
2017-01-06,0.006964,0.006468,0.003166,-0.001250,0.003889,-0.003160,-0.004067,-0.003938,-0.003313,-0.007707,-0.007030,-0.000584
2017-01-09,0.001045,-0.000093,-0.003839,-0.002920,-0.003136,0.003671,-0.001634,0.002471,0.001662,0.005215,0.007080,-0.000358
2017-01-10,0.002088,0.000373,0.000771,0.001046,-0.000370,0.000166,0.005454,-0.000246,-0.000277,-0.000883,0.005272,0.000042

In [37]:
'''datelst = []
for date in ret_data_daily.index:
    d = date.strftime('%Y-%m')
    if d not in datelst:
        datelst.append(d)

ret = {}
for date in datelst:
    ret_monthly = ret_data_daily[date].mean()*len(ret_data_daily[date])
    ret[date] = ret_monthly

ret_data_monthly = DataFrame.from_dict(ret).T'''

In [59]:
ret_data_daily.iloc[0,11]

0.004229252367068392

In [68]:
vol_ctrl_df = DataFrame(columns = ['return', 'vol'], index = ret_data_daily.index)

# 計算每月標準差
for i in range(len(ret_data_daily)):
    vol_ctrl_df.iat[i,0] = ret_data_daily.iloc[i,11]
    #print(vol_ctrl_df.iloc[i,0])
    #print(vol_ctrl_df.iloc[i-20:i, 0])
    vol = vol_ctrl_df.iloc[i-20:i, 0].std()*np.sqrt(252/20)
    vol_ctrl_df.iat[i,1] = vol

vol_ctrl_df.tail()

                 return         vol
2019-04-24   0.00165764   0.0086516
2019-04-25  -0.00111339  0.00824873
2019-04-26   0.00426865  0.00830426
2019-04-29 -0.000398317  0.00865074
2019-04-30  0.000725104  0.00859704

In [69]:
len(vol_ctrl_df)

583

In [70]:
default = np.full((583,), np.nan)
vol_ctrl_df['Vol_Warning'] = default

vol_ctrl_df.head()

                 return  vol  Vol_Warning
2017-01-04   0.00422925  NaN          NaN
2017-01-05   0.00159067  NaN          NaN
2017-01-06  -0.00058353  NaN          NaN
2017-01-09 -0.000358404  NaN          NaN
2017-01-10  4.23674e-05  NaN          NaN

In [73]:
target_vol = 0.05

for index, vol in vol_ctrl_df.iterrows():
    print(vol)
    '''if ret[0] - ret[1] >= 0:
        final_df.loc[index:index,'Outperform'] = 1
    else:
        final_df.loc[index:index,'Outperform'] = 0 '''

return         0.00422925
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-04 00:00:00, dtype: object
return         0.00159067
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-05 00:00:00, dtype: object
return        -0.00058353
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-06 00:00:00, dtype: object
return        -0.000358404
vol                    NaN
Vol_Warning            NaN
Name: 2017-01-09 00:00:00, dtype: object
return         4.23674e-05
vol                    NaN
Vol_Warning            NaN
Name: 2017-01-10 00:00:00, dtype: object
return         0.00190697
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-11 00:00:00, dtype: object
return        -0.00144795
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-12 00:00:00, dtype: object
return         0.000159807
vol                    NaN
Vol_Warning            NaN
Name: 2017-01-13 00:00:00, dtype: object
return         6.18215e-05
vol                    NaN
Vol_Warning            NaN
Name: 2017-01-17 00:00:00, dtype: object
return        -0.00175645
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-18 00:00:00, dtype: object
return        -0.00333027
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-19 00:00:00, dtype: object
return         0.00182554
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-20 00:00:00, dtype: object
return        -0.000367765
vol                    NaN
Vol_Warning            NaN
Name: 2017-01-23 00:00:00, dtype: object
return         0.0025145
vol                  NaN
Vol_Warning          NaN
Name: 2017-01-24 00:00:00, dtype: object
return         0.00189262
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-25 00:00:00, dtype: object
return        -0.000403185
vol                    NaN
Vol_Warning            NaN
Name: 2017-01-26 00:00:00, dtype: object
return        -9.58257e-05
vol                    NaN
Vol_Warning            NaN
Name: 2017-01-27 00:00:00, dtype: object
return        -0.00372807
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-30 00:00:00, dtype: object
return         0.00228645
vol                   NaN
Vol_Warning           NaN
Name: 2017-01-31 00:00:00, dtype: object
return        -0.00151398
vol                   NaN
Vol_Warning           NaN
Name: 2017-02-01 00:00:00, dtype: object
return         0.000571828
vol             0.00706939
Vol_Warning            NaN
Name: 2017-02-02 00:00:00, dtype: object
return         0.00384363
vol            0.00621267
Vol_Warning           NaN
Name: 2017-02-03 00:00:00, dtype: object
return         0.00100145
vol            0.00683064
Vol_Warning           NaN
Name: 2017-02-06 00:00:00, dtype: object
return         0.00111877
vol            0.00684499
Vol_Warning           NaN
Name: 2017-02-07 00:00:00, dtype: object
return           0.002367
vol            0.00687184
Vol_Warning           NaN
Name: 2017-02-08 00:00:00, dtype: object
return         0.00117808
vol            0.00707466
Vol_Warning           NaN
Name: 2017-02-09 00:00:00, dtype: object
return         0.00171168
vol            0.00699113
Vol_Warning           NaN
Name: 2017-02-10 00:00:00, dtype: object
return         0.00166081
vol            0.00691397
Vol_Warning           NaN
Name: 2017-02-13 00:00:00, dtype: object
return         0.000579519
vol             0.00697216
Vol_Warning            NaN
Name: 2017-02-14 00:00:00, dtype: object
return         0.00158952
vol            0.00696062
Vol_Warning           NaN
Name: 2017-02-15 00:00:00, dtype: object
return         0.00110262
vol            0.00672226
Vol_Warning           NaN
Name: 2017-02-16 00:00:00, dtype: object
return         0.00220145
vol            0.00580228
Vol_Warning           NaN
Name: 2017-02-17 00:00:00, dtype: object
return         0.00268436
vol            0.00584711
Vol_Warning           NaN
Name: 2017-02-21 00:00:00, dtype: object
return        -0.000344802
vol             0.00588384
Vol_Warning            NaN
Name: 2017-02-22 00:00:00, dtype: object
return         0.00060388
vol            0.00587475
Vol_Warning           NaN
Name: 2017-02-23 00:00:00, dtype: object
return         0.00427032
vol            0.00583164
Vol_Warning           NaN
Name: 2017-02-24 00:00:00, dtype: object
return         5.3915e-05
vol            0.00628981
Vol_Warning           NaN
Name: 2017-02-27 00:00:00, dtype: object
return          -0.001399
vol            0.00627117
Vol_Warning           NaN
Name: 2017-02-28 00:00:00, dtype: object
return          0.0031816
vol            0.00525732
Vol_Warning           NaN
Name: 2017-03-01 00:00:00, dtype: object
return        -0.00371107
vol            0.00541674
Vol_Warning           NaN
Name: 2017-03-02 00:00:00, dtype: object
return         0.000273811
vol             0.00637571
Vol_Warning            NaN
Name: 2017-03-03 00:00:00, dtype: object
return        -0.00297595
vol            0.00639993
Vol_Warning           NaN
Name: 2017-03-06 00:00:00, dtype: object
return        -0.00308579
vol            0.00680678
Vol_Warning           NaN
Name: 2017-03-07 00:00:00, dtype: object
return        -0.00283051
vol            0.00748838
Vol_Warning           NaN
Name: 2017-03-08 00:00:00, dtype: object
return        -0.00151484
vol            0.00796633
Vol_Warning           NaN
Name: 2017-03-09 00:00:00, dtype: object
return         0.00268721
vol            0.00794447
Vol_Warning           NaN
Name: 2017-03-10 00:00:00, dtype: object
return        -0.00176307
vol            0.00814764
Vol_Warning           NaN
Name: 2017-03-13 00:00:00, dtype: object
return        -0.00124278
vol            0.00822526
Vol_Warning           NaN
Name: 2017-03-14 00:00:00, dtype: object
return         0.00752482
vol            0.00819749
Vol_Warning           NaN
Name: 2017-03-15 00:00:00, dtype: object
return        -0.00206343
vol             0.0101371
Vol_Warning           NaN
Name: 2017-03-16 00:00:00, dtype: object
return         0.00117243
vol             0.0102585
Vol_Warning           NaN
Name: 2017-03-17 00:00:00, dtype: object
return        -0.000750655
vol              0.0102628
Vol_Warning            NaN
Name: 2017-03-20 00:00:00, dtype: object
return        -0.00534441
vol             0.0101451
Vol_Warning           NaN
Name: 2017-03-21 00:00:00, dtype: object
return         0.00139191
vol             0.0107406
Vol_Warning           NaN
Name: 2017-03-22 00:00:00, dtype: object
return        -0.000503066
vol              0.0108306
Vol_Warning            NaN
Name: 2017-03-23 00:00:00, dtype: object
return        -3.87099e-05
vol              0.0108066
Vol_Warning            NaN
Name: 2017-03-24 00:00:00, dtype: object
return         0.00103845
vol             0.0101084
Vol_Warning           NaN
Name: 2017-03-27 00:00:00, dtype: object
return         0.00219117
vol             0.0101772
Vol_Warning           NaN
Name: 2017-03-28 00:00:00, dtype: object
return         0.00238808
vol             0.0103636
Vol_Warning           NaN
Name: 2017-03-29 00:00:00, dtype: object
return         0.000970053
vol              0.0102038
Vol_Warning            NaN
Name: 2017-03-30 00:00:00, dtype: object
return        -4.07897e-05
vol             0.00985407
Vol_Warning            NaN
Name: 2017-03-31 00:00:00, dtype: object
return         0.000536456
vol             0.00984881
Vol_Warning            NaN
Name: 2017-04-03 00:00:00, dtype: object
return        -0.000505379
vol             0.00956857
Vol_Warning            NaN
Name: 2017-04-04 00:00:00, dtype: object
return        -0.00159209
vol            0.00922322
Vol_Warning           NaN
Name: 2017-04-05 00:00:00, dtype: object
return         0.00180541
vol            0.00900631
Vol_Warning           NaN
Name: 2017-04-06 00:00:00, dtype: object
return        -0.00152923
vol            0.00896593
Vol_Warning           NaN
Name: 2017-04-07 00:00:00, dtype: object
return         0.00177639
vol            0.00887461
Vol_Warning           NaN
Name: 2017-04-10 00:00:00, dtype: object
return         0.00209564
vol            0.00880449
Vol_Warning           NaN
Name: 2017-04-11 00:00:00, dtype: object
return        -0.00142481
vol             0.0088004
Vol_Warning           NaN
Name: 2017-04-12 00:00:00, dtype: object
return        -0.00247026
vol            0.00669574
Vol_Warning           NaN
Name: 2017-04-13 00:00:00, dtype: object
return          0.0035637
vol            0.00678919
Vol_Warning           NaN
Name: 2017-04-17 00:00:00, dtype: object
return         0.00232547
vol            0.00729582
Vol_Warning           NaN
Name: 2017-04-18 00:00:00, dtype: object
return        -0.00145175
vol            0.00744325
Vol_Warning           NaN
Name: 2017-04-19 00:00:00, dtype: object
return          0.0030445
vol            0.00597019
Vol_Warning           NaN
Name: 2017-04-20 00:00:00, dtype: object
return        -0.00157512
vol            0.00626585
Vol_Warning           NaN
Name: 2017-04-21 00:00:00, dtype: object
return         0.00367167
vol            0.00644718
Vol_Warning           NaN
Name: 2017-04-24 00:00:00, dtype: object
return         0.000304788
vol             0.00687865
Vol_Warning            NaN
Name: 2017-04-25 00:00:00, dtype: object
return         0.00151214
vol            0.00688225
Vol_Warning           NaN
Name: 2017-04-26 00:00:00, dtype: object
return         0.00105922
vol            0.00680563
Vol_Warning           NaN
Name: 2017-04-27 00:00:00, dtype: object
return        -0.00144861
vol            0.00666344
Vol_Warning           NaN
Name: 2017-04-28 00:00:00, dtype: object
return        -0.000620766
vol             0.00684924
Vol_Warning            NaN
Name: 2017-05-01 00:00:00, dtype: object
return         0.000828116
vol             0.00689397
Vol_Warning            NaN
Name: 2017-05-02 00:00:00, dtype: object
return        -0.00169764
vol            0.00690017
Vol_Warning           NaN
Name: 2017-05-03 00:00:00, dtype: object
return        -8.76688e-05
vol             0.00707444
Vol_Warning            NaN
Name: 2017-05-04 00:00:00, dtype: object
return          0.0026124
vol            0.00689065
Vol_Warning           NaN
Name: 2017-05-05 00:00:00, dtype: object
return        -0.00168205
vol             0.0070218
Vol_Warning           NaN
Name: 2017-05-08 00:00:00, dtype: object
return          -0.001203
vol            0.00705242
Vol_Warning           NaN
Name: 2017-05-09 00:00:00, dtype: object
return         0.00100265
vol            0.00709587
Vol_Warning           NaN
Name: 2017-05-10 00:00:00, dtype: object
return        -0.00141038
vol            0.00697132
Vol_Warning           NaN
Name: 2017-05-11 00:00:00, dtype: object
return         0.000581393
vol             0.00696894
Vol_Warning            NaN
Name: 2017-05-12 00:00:00, dtype: object
return         0.00219882
vol            0.00656996
Vol_Warning           NaN
Name: 2017-05-15 00:00:00, dtype: object
return         0.000295566
vol             0.00622344
Vol_Warning            NaN
Name: 2017-05-16 00:00:00, dtype: object
return        -0.00505784
vol            0.00601152
Vol_Warning           NaN
Name: 2017-05-17 00:00:00, dtype: object
return         0.00204988
vol            0.00725903
Vol_Warning           NaN
Name: 2017-05-18 00:00:00, dtype: object
return         0.00311579
vol            0.00703236
Vol_Warning           NaN
Name: 2017-05-19 00:00:00, dtype: object
return         0.00266452
vol            0.00728713
Vol_Warning           NaN
Name: 2017-05-22 00:00:00, dtype: object
return        -0.000621664
vol             0.00701706
Vol_Warning            NaN
Name: 2017-05-23 00:00:00, dtype: object
return         0.00257153
vol            0.00705079
Vol_Warning           NaN
Name: 2017-05-24 00:00:00, dtype: object
return         0.00210023
vol            0.00722896
Vol_Warning           NaN
Name: 2017-05-25 00:00:00, dtype: object
return         0.000211441
vol              0.0073517
Vol_Warning            NaN
Name: 2017-05-26 00:00:00, dtype: object
return         6.34292e-05
vol             0.00720504
Vol_Warning            NaN
Name: 2017-05-30 00:00:00, dtype: object
return         0.000944858
vol             0.00716156
Vol_Warning            NaN
Name: 2017-05-31 00:00:00, dtype: object
return         0.00459546
vol             0.0071665
Vol_Warning           NaN
Name: 2017-06-01 00:00:00, dtype: object
return          0.0039172
vol            0.00765037
Vol_Warning           NaN
Name: 2017-06-02 00:00:00, dtype: object
return        -0.00164142
vol            0.00801235
Vol_Warning           NaN
Name: 2017-06-05 00:00:00, dtype: object
return         0.000123722
vol             0.00813662
Vol_Warning            NaN
Name: 2017-06-06 00:00:00, dtype: object
return        -0.000312349
vol             0.00790382
Vol_Warning            NaN
Name: 2017-06-07 00:00:00, dtype: object
return         0.000136499
vol             0.00778295
Vol_Warning            NaN
Name: 2017-06-08 00:00:00, dtype: object
return        -0.000433214
vol             0.00780347
Vol_Warning            NaN
Name: 2017-06-09 00:00:00, dtype: object
return         0.000111119
vol             0.00765486
Vol_Warning            NaN
Name: 2017-06-12 00:00:00, dtype: object
return         0.00262554
vol             0.0076759
Vol_Warning           NaN
Name: 2017-06-13 00:00:00, dtype: object
return         0.00183573
vol            0.00773283
Vol_Warning           NaN
Name: 2017-06-14 00:00:00, dtype: object
return        -0.00111514
vol            0.00775316
Vol_Warning           NaN
Name: 2017-06-15 00:00:00, dtype: object
return        -0.000238423
vol             0.00620387
Vol_Warning            NaN
Name: 2017-06-16 00:00:00, dtype: object
return         0.00315665
vol            0.00624877
Vol_Warning           NaN
Name: 2017-06-19 00:00:00, dtype: object
return        -0.00160876
vol            0.00625788
Vol_Warning           NaN
Name: 2017-06-20 00:00:00, dtype: object
return        -0.000720072
vol              0.0064365
Vol_Warning            NaN
Name: 2017-06-21 00:00:00, dtype: object
return         0.000436177
vol             0.00645159
Vol_Warning            NaN
Name: 2017-06-22 00:00:00, dtype: object
return          0.0013851
vol            0.00628683
Vol_Warning           NaN
Name: 2017-06-23 00:00:00, dtype: object
return         0.000425845
vol             0.00620704
Vol_Warning            NaN
Name: 2017-06-26 00:00:00, dtype: object
return        -0.00588567
vol            0.00619878
Vol_Warning           NaN
Name: 2017-06-27 00:00:00, dtype: object
return         0.00448137
vol             0.0081007
Vol_Warning           NaN
Name: 2017-06-28 00:00:00, dtype: object
return        -0.00498338
vol            0.00872454
Vol_Warning           NaN
Name: 2017-06-29 00:00:00, dtype: object
return        -0.000536264
vol             0.00909405
Vol_Warning            NaN
Name: 2017-06-30 00:00:00, dtype: object
return         0.00046432
vol            0.00851822
Vol_Warning           NaN
Name: 2017-07-03 00:00:00, dtype: object
return         0.00098919
vol             0.0084353
Vol_Warning           NaN
Name: 2017-07-05 00:00:00, dtype: object
return         -0.0063902
vol            0.00847382
Vol_Warning           NaN
Name: 2017-07-06 00:00:00, dtype: object
return         0.00294396
vol            0.00988343
Vol_Warning           NaN
Name: 2017-07-07 00:00:00, dtype: object
return         0.000321727
vol              0.0102102
Vol_Warning            NaN
Name: 2017-07-10 00:00:00, dtype: object
return         2.16897e-05
vol               0.010214
Vol_Warning            NaN
Name: 2017-07-11 00:00:00, dtype: object
return         0.00430017
vol             0.0102129
Vol_Warning           NaN
Name: 2017-07-12 00:00:00, dtype: object
return        -1.34632e-05
vol              0.0105909
Vol_Warning            NaN
Name: 2017-07-13 00:00:00, dtype: object
return         0.00230984
vol             0.0104753
Vol_Warning           NaN
Name: 2017-07-14 00:00:00, dtype: object
return         0.00126037
vol             0.0106132
Vol_Warning           NaN
Name: 2017-07-17 00:00:00, dtype: object
return         0.00193014
vol             0.0106534
Vol_Warning           NaN
Name: 2017-07-18 00:00:00, dtype: object
return         0.0026609
vol            0.0104642
Vol_Warning          NaN
Name: 2017-07-19 00:00:00, dtype: object
return         0.00108844
vol             0.0105619
Vol_Warning           NaN
Name: 2017-07-20 00:00:00, dtype: object
return         0.000357796
vol               0.010547
Vol_Warning            NaN
Name: 2017-07-21 00:00:00, dtype: object
return        -0.000701837
vol              0.0105468
Vol_Warning            NaN
Name: 2017-07-24 00:00:00, dtype: object
return        -0.0006844
vol            0.0105419
Vol_Warning          NaN
Name: 2017-07-25 00:00:00, dtype: object
return         0.000452774
vol              0.0105666
Vol_Warning            NaN
Name: 2017-07-26 00:00:00, dtype: object
return        -0.00177578
vol            0.00926448
Vol_Warning           NaN
Name: 2017-07-27 00:00:00, dtype: object
return         0.000336959
vol             0.00880729
Vol_Warning            NaN
Name: 2017-07-28 00:00:00, dtype: object
return        -0.000425943
vol             0.00766938
Vol_Warning            NaN
Name: 2017-07-31 00:00:00, dtype: object
return         0.0028321
vol            0.0076603
Vol_Warning          NaN
Name: 2017-08-01 00:00:00, dtype: object
return        -0.00109451
vol            0.00788588
Vol_Warning           NaN
Name: 2017-08-02 00:00:00, dtype: object
return         0.000405205
vol             0.00798882
Vol_Warning            NaN
Name: 2017-08-03 00:00:00, dtype: object
return        -0.000761054
vol             0.00556184
Vol_Warning            NaN
Name: 2017-08-04 00:00:00, dtype: object
return         0.000929146
vol             0.00540148
Vol_Warning            NaN
Name: 2017-08-07 00:00:00, dtype: object
return        -0.00236001
vol            0.00539918
Vol_Warning           NaN
Name: 2017-08-08 00:00:00, dtype: object
return         0.000355474
vol             0.00589723
Vol_Warning            NaN
Name: 2017-08-09 00:00:00, dtype: object
return        -0.00514818
vol            0.00499721
Vol_Warning           NaN
Name: 2017-08-10 00:00:00, dtype: object
return         0.00112012
vol            0.00664021
Vol_Warning           NaN
Name: 2017-08-11 00:00:00, dtype: object
return         0.00428426
vol            0.00644162
Vol_Warning           NaN
Name: 2017-08-14 00:00:00, dtype: object
return         -0.0015011
vol            0.00722178
Vol_Warning           NaN
Name: 2017-08-15 00:00:00, dtype: object
return         0.00135664
vol            0.00718697
Vol_Warning           NaN
Name: 2017-08-16 00:00:00, dtype: object
return        -0.00665944
vol            0.00693925
Vol_Warning           NaN
Name: 2017-08-17 00:00:00, dtype: object
return        -0.00176618
vol            0.00862016
Vol_Warning           NaN
Name: 2017-08-18 00:00:00, dtype: object
return         0.00133377
vol            0.00865554
Vol_Warning           NaN
Name: 2017-08-21 00:00:00, dtype: object
return         0.00405024
vol            0.00878025
Vol_Warning           NaN
Name: 2017-08-22 00:00:00, dtype: object
return        -0.000190726
vol             0.00946949
Vol_Warning            NaN
Name: 2017-08-23 00:00:00, dtype: object
return        -0.00187026
vol            0.00945375
Vol_Warning           NaN
Name: 2017-08-24 00:00:00, dtype: object
return          0.0015198
vol            0.00946426
Vol_Warning           NaN
Name: 2017-08-25 00:00:00, dtype: object
return         0.000764715
vol             0.00955808
Vol_Warning            NaN
Name: 2017-08-28 00:00:00, dtype: object
return         0.00102621
vol             0.0095844
Vol_Warning           NaN
Name: 2017-08-29 00:00:00, dtype: object
return         0.00273616
vol            0.00931904
Vol_Warning           NaN
Name: 2017-08-30 00:00:00, dtype: object
return         0.00444497
vol            0.00957062
Vol_Warning           NaN

Name: 2017-11-08 00:00:00, dtype: object
return        -0.00260024
vol            0.00593444
Vol_Warning           NaN
Name: 2017-11-09 00:00:00, dtype: object
return        -0.00262359
vol            0.00639355
Vol_Warning           NaN
Name: 2017-11-10 00:00:00, dtype: object
return         0.000748961
vol             0.00670939
Vol_Warning            NaN
Name: 2017-11-13 00:00:00, dtype: object
return         6.68996e-05
vol             0.00672539
Vol_Warning            NaN
Name: 2017-11-14 00:00:00, dtype: object
return        -0.000600993
vol             0.00672232
Vol_Warning            NaN
Name: 2017-11-15 00:00:00, dtype: object
return         0.00296714
vol            0.00672912
Vol_Warning           NaN
Name: 2017-11-16 00:00:00, dtype: object
return        -0.000126872
vol             0.00704616
Vol_Warning            NaN
Name: 2017-11-17 00:00:00, dtype: object
return         0.000846479
vol             0.00703153
Vol_Warning            NaN
Name: 2017-11-20 00:00:00, dtype: object
return         0.00383208
vol            0.00696493
Vol_Warning           NaN
Name: 2017-11-21 00:00:00, dtype: object
return         0.000740158
vol             0.00748385
Vol_Warning            NaN
Name: 2017-11-22 00:00:00, dtype: object
return         0.00108743
vol            0.00670741
Vol_Warning           NaN
Name: 2017-11-24 00:00:00, dtype: object
return        -6.73467e-05
vol             0.00669914
Vol_Warning            NaN
Name: 2017-11-27 00:00:00, dtype: object
return          0.0055685
vol            0.00547967
Vol_Warning           NaN
Name: 2017-11-28 00:00:00, dtype: object
return        -0.000750849
vol             0.00674096
Vol_Warning            NaN
Name: 2017-11-29 00:00:00, dtype: object
return         0.00372828
vol            0.00684413
Vol_Warning           NaN
Name: 2017-11-30 00:00:00, dtype: object
return         0.00167459
vol            0.00725428
Vol_Warning           NaN
Name: 2017-12-01 00:00:00, dtype: object
return        -0.000791414
vol             0.00727654
Vol_Warning            NaN
Name: 2017-12-04 00:00:00, dtype: object
return        -0.00179973
vol            0.00728658
Vol_Warning           NaN
Name: 2017-12-05 00:00:00, dtype: object
return         0.00115721
vol            0.00754919
Vol_Warning           NaN
Name: 2017-12-06 00:00:00, dtype: object
return         0.000779145
vol             0.00751383
Vol_Warning            NaN
Name: 2017-12-07 00:00:00, dtype: object
return         0.00207283
vol            0.00750982
Vol_Warning           NaN
Name: 2017-12-08 00:00:00, dtype: object
return         0.000442474
vol             0.00705345
Vol_Warning            NaN
Name: 2017-12-11 00:00:00, dtype: object
return         0.000915033
vol             0.00642193
Vol_Warning            NaN
Name: 2017-12-12 00:00:00, dtype: object
return         0.00140744
vol            0.00641763
Vol_Warning           NaN
Name: 2017-12-13 00:00:00, dtype: object
return        -0.0018413
vol            0.0063643
Vol_Warning          NaN
Name: 2017-12-14 00:00:00, dtype: object
return         0.00554995
vol            0.00666037
Vol_Warning           NaN
Name: 2017-12-15 00:00:00, dtype: object
return         0.00192226
vol            0.00741529
Vol_Warning           NaN
Name: 2017-12-18 00:00:00, dtype: object
return        -0.0044217
vol            0.0073463
Vol_Warning          NaN
Name: 2017-12-19 00:00:00, dtype: object
return        -0.00160734
vol            0.00864796
Vol_Warning           NaN
Name: 2017-12-20 00:00:00, dtype: object
return         0.00167497
vol            0.00856914
Vol_Warning           NaN
Name: 2017-12-21 00:00:00, dtype: object
return        -0.000508108
vol             0.00859773
Vol_Warning            NaN
Name: 2017-12-22 00:00:00, dtype: object
return         0.000409707
vol             0.00865971
Vol_Warning            NaN
Name: 2017-12-26 00:00:00, dtype: object
return         0.00255398
vol            0.00863791
Vol_Warning           NaN
Name: 2017-12-27 00:00:00, dtype: object
return         0.000430614
vol             0.00782238
Vol_Warning            NaN
Name: 2017-12-28 00:00:00, dtype: object
return        -0.00145511
vol            0.00774001
Vol_Warning           NaN
Name: 2017-12-29 00:00:00, dtype: object
return         0.00114805
vol            0.00747858
Vol_Warning           NaN
Name: 2018-01-02 00:00:00, dtype: object
return          0.0031811
vol            0.00743192
Vol_Warning           NaN
Name: 2018-01-03 00:00:00, dtype: object
return         0.00163585
vol            0.00767383
Vol_Warning           NaN
Name: 2018-01-04 00:00:00, dtype: object
return         0.00195393
vol             0.0074422
Vol_Warning           NaN
Name: 2018-01-05 00:00:00, dtype: object
return         0.00140253
vol             0.0074962
Vol_Warning           NaN
Name: 2018-01-08 00:00:00, dtype: object
return        -0.00120823
vol            0.00751069
Vol_Warning           NaN
Name: 2018-01-09 00:00:00, dtype: object
return        -0.000339606
vol             0.00760541
Vol_Warning            NaN
Name: 2018-01-10 00:00:00, dtype: object
return         0.00514938
vol            0.00764679
Vol_Warning           NaN
Name: 2018-01-11 00:00:00, dtype: object
return         0.00299174
vol            0.00844468
Vol_Warning           NaN
Name: 2018-01-12 00:00:00, dtype: object
return        -0.00199093
vol            0.00860588
Vol_Warning           NaN
Name: 2018-01-16 00:00:00, dtype: object
return         0.00364754
vol             0.0086386
Vol_Warning           NaN
Name: 2018-01-17 00:00:00, dtype: object
return        -0.00274776
vol            0.00807666
Vol_Warning           NaN
Name: 2018-01-18 00:00:00, dtype: object
return         0.00118146
vol            0.00849692
Vol_Warning           NaN
Name: 2018-01-19 00:00:00, dtype: object
return          0.0038506
vol            0.00739559
Vol_Warning           NaN
Name: 2018-01-22 00:00:00, dtype: object
return         0.00272684
vol            0.00744922
Vol_Warning           NaN
Name: 2018-01-23 00:00:00, dtype: object
return        -0.00184989
vol            0.00754474
Vol_Warning           NaN
Name: 2018-01-24 00:00:00, dtype: object
return         0.00226889
vol            0.00781654
Vol_Warning           NaN
Name: 2018-01-25 00:00:00, dtype: object
return         0.00424011
vol            0.00784161
Vol_Warning           NaN
Name: 2018-01-26 00:00:00, dtype: object
return        -0.00385846
vol            0.00813945
Vol_Warning           NaN
Name: 2018-01-29 00:00:00, dtype: object
return        -0.00657457
vol            0.00910206
Vol_Warning           NaN
Name: 2018-01-30 00:00:00, dtype: object
return         0.000415644
vol               0.010802
Vol_Warning            NaN
Name: 2018-01-31 00:00:00, dtype: object
return        -0.00149954
vol             0.0108038
Vol_Warning           NaN
Name: 2018-02-01 00:00:00, dtype: object
return        -0.0130348
vol            0.0107595
Vol_Warning          NaN
Name: 2018-02-02 00:00:00, dtype: object
return        -0.0183961
vol            0.0151861
Vol_Warning          NaN
Name: 2018-02-05 00:00:00, dtype: object
return         0.00526964
vol             0.0208412
Vol_Warning           NaN
Name: 2018-02-06 00:00:00, dtype: object
return        -0.00209263
vol             0.0213783
Vol_Warning           NaN
Name: 2018-02-07 00:00:00, dtype: object
return        -0.0191644
vol            0.0213958
Vol_Warning          NaN
Name: 2018-02-08 00:00:00, dtype: object
return         0.00529877
vol             0.0257633
Vol_Warning           NaN
Name: 2018-02-09 00:00:00, dtype: object
return         0.0070165
vol            0.0257909
Vol_Warning          NaN
Name: 2018-02-12 00:00:00, dtype: object
return         0.00170183
vol             0.0264923
Vol_Warning           NaN
Name: 2018-02-13 00:00:00, dtype: object
return         0.00509366
vol             0.0266331
Vol_Warning           NaN
Name: 2018-02-14 00:00:00, dtype: object
return         0.00668478
vol             0.0268453
Vol_Warning           NaN
Name: 2018-02-15 00:00:00, dtype: object
return         0.00156967
vol               0.02759
Vol_Warning           NaN
Name: 2018-02-16 00:00:00, dtype: object
return        -0.00402829
vol             0.0276124
Vol_Warning           NaN
Name: 2018-02-20 00:00:00, dtype: object
return        -0.00488402
vol             0.0273987
Vol_Warning           NaN
Name: 2018-02-21 00:00:00, dtype: object
return         0.000692627
vol              0.0273023
Vol_Warning            NaN
Name: 2018-02-22 00:00:00, dtype: object
return         0.00968927
vol             0.0273732
Vol_Warning           NaN
Name: 2018-02-23 00:00:00, dtype: object
return         0.0057788
vol            0.0286825
Vol_Warning          NaN
Name: 2018-02-26 00:00:00, dtype: object
return        -0.00654752
vol             0.0289045
Vol_Warning           NaN
Name: 2018-02-27 00:00:00, dtype: object
return        -0.00454389
vol             0.0291453
Vol_Warning           NaN
Name: 2018-02-28 00:00:00, dtype: object
return        -0.00606042
vol             0.0289479
Vol_Warning           NaN
Name: 2018-03-01 00:00:00, dtype: object
return         0.00231774
vol             0.0291565
Vol_Warning           NaN
Name: 2018-03-02 00:00:00, dtype: object
return         0.00630113
vol             0.0293198
Vol_Warning           NaN
Name: 2018-03-05 00:00:00, dtype: object
return         0.00239975
vol             0.0282197
Vol_Warning           NaN
Name: 2018-03-06 00:00:00, dtype: object
return         0.000115955
vol              0.0239345
Vol_Warning            NaN
Name: 2018-03-07 00:00:00, dtype: object
return         0.00285677
vol             0.0236187
Vol_Warning           NaN
Name: 2018-03-08 00:00:00, dtype: object
return         0.00738374
vol             0.0236036
Vol_Warning           NaN
Name: 2018-03-09 00:00:00, dtype: object
return        -5.32161e-06
vol              0.0174562
Vol_Warning            NaN
Name: 2018-03-12 00:00:00, dtype: object
return        -0.00232085
vol             0.0172866
Vol_Warning           NaN
Name: 2018-03-13 00:00:00, dtype: object
return        -0.00185381
vol             0.0169595
Vol_Warning           NaN
Name: 2018-03-14 00:00:00, dtype: object
return        -0.000479914
vol              0.0171251
Vol_Warning            NaN
Name: 2018-03-15 00:00:00, dtype: object
return         0.000691574
vol              0.0168171
Vol_Warning            NaN
Name: 2018-03-16 00:00:00, dtype: object
return        -0.0073619
vol            0.0160715
Vol_Warning          NaN
Name: 2018-03-19 00:00:00, dtype: object
return        -0.000665607
vol              0.0171852
Vol_Warning            NaN
Name: 2018-03-20 00:00:00, dtype: object
return        -0.000614165
vol              0.0168658
Vol_Warning            NaN
Name: 2018-03-21 00:00:00, dtype: object
return        -0.0110851
vol            0.0163491
Vol_Warning          NaN
Name: 2018-03-22 00:00:00, dtype: object
return        -0.0111096
vol            0.0187065
Vol_Warning          NaN
Name: 2018-03-23 00:00:00, dtype: object
return         0.0128682
vol            0.0186992
Vol_Warning          NaN
Name: 2018-03-26 00:00:00, dtype: object
return        -0.00684132
vol             0.0211499
Vol_Warning           NaN
Name: 2018-03-27 00:00:00, dtype: object
return        -0.00112934
vol             0.0212033
Vol_Warning           NaN
Name: 2018-03-28 00:00:00, dtype: object
return         0.00817038
vol             0.0209863
Vol_Warning           NaN
Name: 2018-03-29 00:00:00, dtype: object
return        -0.0117084
vol            0.0216193
Vol_Warning          NaN
Name: 2018-04-02 00:00:00, dtype: object
return         0.00527776
vol             0.0234069
Vol_Warning           NaN
Name: 2018-04-03 00:00:00, dtype: object
return         0.00620155
vol             0.0232166
Vol_Warning           NaN
Name: 2018-04-04 00:00:00, dtype: object
return         0.00273847
vol             0.0237509
Vol_Warning           NaN
Name: 2018-04-05 00:00:00, dtype: object
return        -0.00916336
vol             0.0238927
Vol_Warning           NaN
Name: 2018-04-06 00:00:00, dtype: object
return         0.00243677
vol             0.0246815
Vol_Warning           NaN
Name: 2018-04-09 00:00:00, dtype: object
return         0.00746316
vol             0.0238591
Vol_Warning           NaN
Name: 2018-04-10 00:00:00, dtype: object
return        -0.00199005
vol             0.0248435
Vol_Warning           NaN
Name: 2018-04-11 00:00:00, dtype: object
return         0.00308549
vol             0.0248325
Vol_Warning           NaN
Name: 2018-04-12 00:00:00, dtype: object
return        -0.000337156
vol              0.0250165
Vol_Warning            NaN
Name: 2018-04-13 00:00:00, dtype: object
return         0.00478704
vol             0.0250175
Vol_Warning           NaN
Name: 2018-04-16 00:00:00, dtype: object
return         0.00628017
vol             0.0253722
Vol_Warning           NaN
Name: 2018-04-17 00:00:00, dtype: object
return        -0.00164695
vol             0.0252173
Vol_Warning           NaN
Name: 2018-04-18 00:00:00, dtype: object
return        -0.00445224
vol             0.0252525
Vol_Warning           NaN
Name: 2018-04-19 00:00:00, dtype: object
return        -0.00560788
vol             0.0255153
Vol_Warning           NaN
Name: 2018-04-20 00:00:00, dtype: object
return        -0.000163578
vol              0.0242788
Vol_Warning            NaN
Name: 2018-04-23 00:00:00, dtype: object
return        -0.0074296
vol             0.022356
Vol_Warning          NaN
Name: 2018-04-24 00:00:00, dtype: object
return        -8.28742e-05
vol              0.0208524
Vol_Warning            NaN
Name: 2018-04-25 00:00:00, dtype: object
return         0.00585981
vol             0.0201018
Vol_Warning           NaN
Name: 2018-04-26 00:00:00, dtype: object
return         0.00122084
vol             0.0205699
Vol_Warning           NaN
Name: 2018-04-27 00:00:00, dtype: object
return        -0.00379036
vol             0.0195632
Vol_Warning           NaN
Name: 2018-04-30 00:00:00, dtype: object
return         0.00013753
vol              0.017257
Vol_Warning           NaN
Name: 2018-05-01 00:00:00, dtype: object
return        -0.00301493
vol             0.0167961
Vol_Warning           NaN
Name: 2018-05-02 00:00:00, dtype: object
return        -0.000827951
vol              0.0162237
Vol_Warning            NaN
Name: 2018-05-03 00:00:00, dtype: object
return         0.00757121
vol             0.0160436
Vol_Warning           NaN
Name: 2018-05-04 00:00:00, dtype: object
return         0.0024156
vol            0.0154426
Vol_Warning          NaN
Name: 2018-05-07 00:00:00, dtype: object
return        -0.000668824
vol              0.0154408
Vol_Warning            NaN
Name: 2018-05-08 00:00:00, dtype: object
return         0.0046952
vol            0.0143072
Vol_Warning          NaN
Name: 2018-05-09 00:00:00, dtype: object
return         0.00548454
vol             0.0146496
Vol_Warning           NaN
Name: 2018-05-10 00:00:00, dtype: object
return         0.00179226
vol             0.0150591
Vol_Warning           NaN
Name: 2018-05-11 00:00:00, dtype: object
return        -0.000684694
vol              0.0150735
Vol_Warning            NaN
Name: 2018-05-14 00:00:00, dtype: object
return        -0.00533159
vol             0.0146931
Vol_Warning           NaN
Name: 2018-05-15 00:00:00, dtype: object
return         0.00128657
vol             0.0144765
Vol_Warning           NaN
Name: 2018-05-16 00:00:00, dtype: object
return         0.000443755
vol              0.0144729
Vol_Warning            NaN
Name: 2018-05-17 00:00:00, dtype: object
return         0.000670841
vol              0.0140061
Vol_Warning            NaN
Name: 2018-05-18 00:00:00, dtype: object
return         0.00410033
vol             0.0131503
Vol_Warning           NaN
Name: 2018-05-21 00:00:00, dtype: object
return        -0.0025278
vol            0.0134443
Vol_Warning          NaN
Name: 2018-05-22 00:00:00, dtype: object
return         0.00358715
vol             0.0119618
Vol_Warning           NaN
Name: 2018-05-23 00:00:00, dtype: object
return         0.000986068
vol              0.0121079
Vol_Warning            NaN
Name: 2018-05-24 00:00:00, dtype: object
return         0.00010486
vol             0.0114427
Vol_Warning           NaN
Name: 2018-05-25 00:00:00, dtype: object
return        -7.78911e-05
vol              0.0114547
Vol_Warning            NaN
Name: 2018-05-29 00:00:00, dtype: object
return         0.00505754
vol             0.0108252
Vol_Warning           NaN
Name: 2018-05-30 00:00:00, dtype: object
return        -0.00407139
vol             0.0112588
Vol_Warning           NaN
Name: 2018-05-31 00:00:00, dtype: object
return         0.00454434
vol             0.0115518
Vol_Warning           NaN
Name: 2018-06-01 00:00:00, dtype: object
return         0.000348153
vol              0.0117122
Vol_Warning            NaN
Name: 2018-06-04 00:00:00, dtype: object
return         0.00208623
vol             0.0105633
Vol_Warning           NaN
Name: 2018-06-05 00:00:00, dtype: object
return         0.00267016
vol             0.0105395
Vol_Warning           NaN
Name: 2018-06-06 00:00:00, dtype: object
return         0.00167024
vol             0.0105028
Vol_Warning           NaN
Name: 2018-06-07 00:00:00, dtype: object
return         0.00125461
vol             0.0101136
Vol_Warning           NaN
Name: 2018-06-08 00:00:00, dtype: object
return         0.000403119
vol             0.00943389
Vol_Warning            NaN
Name: 2018-06-11 00:00:00, dtype: object
return         0.00136959
vol            0.00941072
Vol_Warning           NaN
Name: 2018-06-12 00:00:00, dtype: object
return        -0.00205627
vol            0.00933296
Vol_Warning           NaN
Name: 2018-06-13 00:00:00, dtype: object
return         0.00365715
vol            0.00816499
Vol_Warning           NaN
Name: 2018-06-14 00:00:00, dtype: object
return        -0.000454017
vol             0.00841532
Vol_Warning            NaN
Name: 2018-06-15 00:00:00, dtype: object
return        -1.21567e-05
vol             0.00849935
Vol_Warning            NaN
Name: 2018-06-18 00:00:00, dtype: object
return        -0.000411718
vol             0.00854293
Vol_Warning            NaN
Name: 2018-06-19 00:00:00, dtype: object
return        -0.000482038
vol             0.00824887
Vol_Warning            NaN
Name: 2018-06-20 00:00:00, dtype: object
return        -0.00300034
vol            0.00783341
Vol_Warning           NaN
Name: 2018-06-21 00:00:00, dtype: object
return         0.000663211
vol             0.00813468
Vol_Warning            NaN
Name: 2018-06-22 00:00:00, dtype: object
return        -0.00749616
vol            0.00813064
Vol_Warning           NaN
Name: 2018-06-25 00:00:00, dtype: object
return         0.00226909
vol             0.0103988
Vol_Warning           NaN
Name: 2018-06-26 00:00:00, dtype: object
return        -0.00256903
vol              0.010511
Vol_Warning           NaN
Name: 2018-06-27 00:00:00, dtype: object
return         0.00293982
vol             0.0100009
Vol_Warning           NaN
Name: 2018-06-28 00:00:00, dtype: object
return        -0.000785179
vol             0.00964095
Vol_Warning            NaN
Name: 2018-06-29 00:00:00, dtype: object
return         0.00143697
vol             0.0090185
Vol_Warning           NaN
Name: 2018-07-02 00:00:00, dtype: object
return         0.000249037
vol             0.00907931
Vol_Warning            NaN
Name: 2018-07-03 00:00:00, dtype: object
return         0.00570939
vol             0.0089365
Vol_Warning           NaN
Name: 2018-07-05 00:00:00, dtype: object
return         0.00495889
vol            0.00980706
Vol_Warning           NaN
Name: 2018-07-06 00:00:00, dtype: object
return         0.00368434
vol              0.010456
Vol_Warning           NaN
Name: 2018-07-09 00:00:00, dtype: object
return         0.00121181
vol             0.0107637
Vol_Warning           NaN
Name: 2018-07-10 00:00:00, dtype: object
return        -0.00280785
vol             0.0107779
Vol_Warning           NaN
Name: 2018-07-11 00:00:00, dtype: object

Name: 2018-09-14 00:00:00, dtype: object
return        -0.00336037
vol            0.00590032
Vol_Warning           NaN
Name: 2018-09-17 00:00:00, dtype: object
return         0.000916718
vol             0.00652308
Vol_Warning            NaN
Name: 2018-09-18 00:00:00, dtype: object
return        -0.00164619
vol            0.00643119
Vol_Warning           NaN
Name: 2018-09-19 00:00:00, dtype: object
return          0.0051873
vol            0.00655476
Vol_Warning           NaN
Name: 2018-09-20 00:00:00, dtype: object
return        -0.000707961
vol             0.00767621
Vol_Warning            NaN
Name: 2018-09-21 00:00:00, dtype: object
return        -0.00221864
vol            0.00769838
Vol_Warning           NaN
Name: 2018-09-24 00:00:00, dtype: object
return        -0.00108625
vol            0.00746573
Vol_Warning           NaN
Name: 2018-09-25 00:00:00, dtype: object
return        -0.00101484
vol            0.00729393
Vol_Warning           NaN
Name: 2018-09-26 00:00:00, dtype: object
return         0.00141204
vol             0.0073247
Vol_Warning           NaN
Name: 2018-09-27 00:00:00, dtype: object
return         0.000610803
vol             0.00705593
Vol_Warning            NaN
Name: 2018-09-28 00:00:00, dtype: object
return        -0.000225901
vol             0.00707132
Vol_Warning            NaN
Name: 2018-10-01 00:00:00, dtype: object
return         0.000927781
vol             0.00706841
Vol_Warning            NaN
Name: 2018-10-02 00:00:00, dtype: object
return        -0.00175909
vol            0.00711057
Vol_Warning           NaN
Name: 2018-10-03 00:00:00, dtype: object
return        -0.00507364
vol             0.0071676
Vol_Warning           NaN
Name: 2018-10-04 00:00:00, dtype: object
return        -0.00501911
vol            0.00819247
Vol_Warning           NaN
Name: 2018-10-05 00:00:00, dtype: object
return        -0.00106319
vol            0.00880368
Vol_Warning           NaN
Name: 2018-10-08 00:00:00, dtype: object
return         0.000443565
vol             0.00850004
Vol_Warning            NaN
Name: 2018-10-09 00:00:00, dtype: object
return         -0.0178151
vol            0.00847345
Vol_Warning           NaN
Name: 2018-10-10 00:00:00, dtype: object
return        -0.00980555
vol             0.0160529
Vol_Warning           NaN
Name: 2018-10-11 00:00:00, dtype: object
return         0.00599675
vol             0.0169828
Vol_Warning           NaN
Name: 2018-10-12 00:00:00, dtype: object
return        -0.00232358
vol             0.0181217
Vol_Warning           NaN
Name: 2018-10-15 00:00:00, dtype: object
return         0.0120783
vol            0.0180798
Vol_Warning          NaN
Name: 2018-10-16 00:00:00, dtype: object
return        -0.000655306
vol              0.0210783
Vol_Warning            NaN
Name: 2018-10-17 00:00:00, dtype: object
return        -0.00724599
vol             0.0210777
Vol_Warning           NaN
Name: 2018-10-18 00:00:00, dtype: object
return        -0.00269759
vol             0.0209257
Vol_Warning           NaN
Name: 2018-10-19 00:00:00, dtype: object
return        -0.00324359
vol             0.0209211
Vol_Warning           NaN
Name: 2018-10-22 00:00:00, dtype: object
return        -0.00221525
vol             0.0209496
Vol_Warning           NaN
Name: 2018-10-23 00:00:00, dtype: object
return        -0.0147511
vol            0.0209405
Vol_Warning          NaN
Name: 2018-10-24 00:00:00, dtype: object
return         0.00889997
vol             0.0232513
Vol_Warning           NaN
Name: 2018-10-25 00:00:00, dtype: object
return        -0.00847339
vol             0.0248194
Vol_Warning           NaN
Name: 2018-10-26 00:00:00, dtype: object
return        -0.00253158
vol             0.0251706
Vol_Warning           NaN
Name: 2018-10-29 00:00:00, dtype: object
return         0.00671197
vol             0.0250866
Vol_Warning           NaN
Name: 2018-10-30 00:00:00, dtype: object
return         0.00428038
vol             0.0260603
Vol_Warning           NaN
Name: 2018-10-31 00:00:00, dtype: object
return         0.00554918
vol             0.0266134
Vol_Warning           NaN
Name: 2018-11-01 00:00:00, dtype: object
return        -0.00433282
vol             0.0271888
Vol_Warning           NaN
Name: 2018-11-02 00:00:00, dtype: object
return         0.00321519
vol             0.0271386
Vol_Warning           NaN
Name: 2018-11-05 00:00:00, dtype: object
return         0.00360564
vol              0.027412
Vol_Warning           NaN
Name: 2018-11-06 00:00:00, dtype: object
return         0.0114967
vol            0.0276702
Vol_Warning          NaN
Name: 2018-11-07 00:00:00, dtype: object
return        -0.000595665
vol              0.0257758
Vol_Warning            NaN
Name: 2018-11-08 00:00:00, dtype: object
return        -0.00418304
vol             0.0244107
Vol_Warning           NaN
Name: 2018-11-09 00:00:00, dtype: object
return        -0.00966766
vol             0.0242656
Vol_Warning           NaN
Name: 2018-11-12 00:00:00, dtype: object
return        -0.00188008
vol             0.0254302
Vol_Warning           NaN
Name: 2018-11-13 00:00:00, dtype: object
return        -0.00480611
vol             0.0232686
Vol_Warning           NaN
Name: 2018-11-14 00:00:00, dtype: object
return         0.00572513
vol             0.0234678
Vol_Warning           NaN
Name: 2018-11-15 00:00:00, dtype: object
return         0.00189253
vol             0.0234893
Vol_Warning           NaN
Name: 2018-11-16 00:00:00, dtype: object
return        -0.00882755
vol             0.0234864
Vol_Warning           NaN
Name: 2018-11-19 00:00:00, dtype: object
return        -0.00935351
vol              0.024358
Vol_Warning           NaN
Name: 2018-11-20 00:00:00, dtype: object
return          0.002243
vol            0.0253226
Vol_Warning          NaN
Name: 2018-11-21 00:00:00, dtype: object
return        -0.00245063
vol             0.0226055
Vol_Warning           NaN
Name: 2018-11-23 00:00:00, dtype: object
return         0.00817053
vol             0.0213872
Vol_Warning           NaN
Name: 2018-11-26 00:00:00, dtype: object
return         0.000166504
vol              0.0214138
Vol_Warning            NaN
Name: 2018-11-27 00:00:00, dtype: object
return         0.0122995
vol            0.0212912
Vol_Warning          NaN
Name: 2018-11-28 00:00:00, dtype: object
return        -0.00014238
vol             0.0228068
Vol_Warning           NaN
Name: 2018-11-29 00:00:00, dtype: object
return         0.00460296
vol             0.0226063
Vol_Warning           NaN
Name: 2018-11-30 00:00:00, dtype: object
return         0.00706514
vol             0.0224756
Vol_Warning           NaN
Name: 2018-12-03 00:00:00, dtype: object
return         -0.016113
vol            0.0227172
Vol_Warning          NaN
Name: 2018-12-04 00:00:00, dtype: object
return         0.000748211
vol              0.0263214
Vol_Warning            NaN
Name: 2018-12-06 00:00:00, dtype: object
return        -0.0115472
vol            0.0261563
Vol_Warning          NaN
Name: 2018-12-07 00:00:00, dtype: object
return         0.00184808
vol             0.0257255
Vol_Warning           NaN
Name: 2018-12-10 00:00:00, dtype: object
return        -0.000454227
vol              0.0258447
Vol_Warning            NaN
Name: 2018-12-11 00:00:00, dtype: object
return         0.00187684
vol             0.0257295
Vol_Warning           NaN
Name: 2018-12-12 00:00:00, dtype: object
return        -0.00137977
vol             0.0247715
Vol_Warning           NaN
Name: 2018-12-13 00:00:00, dtype: object
return        -0.0086647
vol            0.0247554
Vol_Warning          NaN
Name: 2018-12-14 00:00:00, dtype: object
return        -0.0102466
vol            0.0253899
Vol_Warning          NaN
Name: 2018-12-17 00:00:00, dtype: object
return         0.000733886
vol              0.0259048
Vol_Warning            NaN
Name: 2018-12-18 00:00:00, dtype: object
return        -0.0065336
vol            0.0258229
Vol_Warning          NaN
Name: 2018-12-19 00:00:00, dtype: object
return        -0.0101188
vol            0.0254511
Vol_Warning          NaN
Name: 2018-12-20 00:00:00, dtype: object
return        -0.0113489
vol            0.0256173
Vol_Warning          NaN
Name: 2018-12-21 00:00:00, dtype: object
return        -0.0126368
vol            0.0265904
Vol_Warning          NaN
Name: 2018-12-24 00:00:00, dtype: object
return          0.023055
vol            0.0278837
Vol_Warning          NaN
Name: 2018-12-26 00:00:00, dtype: object
return         0.00582759
vol             0.0336063
Vol_Warning           NaN
Name: 2018-12-27 00:00:00, dtype: object
return         0.000916279
vol              0.0341267
Vol_Warning            NaN
Name: 2018-12-28 00:00:00, dtype: object
return         0.00712968
vol             0.0322036
Vol_Warning           NaN
Name: 2018-12-31 00:00:00, dtype: object
return         0.00128434
vol             0.0330079
Vol_Warning           NaN
Name: 2019-01-02 00:00:00, dtype: object
return        -0.00956199
vol              0.032687
Vol_Warning           NaN
Name: 2019-01-03 00:00:00, dtype: object
return         0.0139827
vol            0.0323155
Vol_Warning          NaN
Name: 2019-01-04 00:00:00, dtype: object
return         0.0050845
vol             0.032892
Vol_Warning          NaN
Name: 2019-01-07 00:00:00, dtype: object
return         0.00506383
vol             0.0332452
Vol_Warning           NaN
Name: 2019-01-08 00:00:00, dtype: object
return         0.00216582
vol             0.0323657
Vol_Warning           NaN
Name: 2019-01-09 00:00:00, dtype: object
return         0.00104532
vol             0.0323801
Vol_Warning           NaN
Name: 2019-01-10 00:00:00, dtype: object
return         0.00163331
vol             0.0323938
Vol_Warning           NaN
Name: 2019-01-11 00:00:00, dtype: object
return        -0.00401481
vol             0.0323845
Vol_Warning           NaN
Name: 2019-01-14 00:00:00, dtype: object
return         0.00558418
vol             0.0325193
Vol_Warning           NaN
Name: 2019-01-15 00:00:00, dtype: object
return         0.00148406
vol             0.0320403
Vol_Warning           NaN
Name: 2019-01-16 00:00:00, dtype: object
return         0.0040385
vol            0.0307703
Vol_Warning          NaN
Name: 2019-01-17 00:00:00, dtype: object
return         0.00637255
vol             0.0308603
Vol_Warning           NaN
Name: 2019-01-18 00:00:00, dtype: object
return        -0.00574061
vol             0.0304113
Vol_Warning           NaN
Name: 2019-01-22 00:00:00, dtype: object
return         0.000449726
vol              0.0294521
Vol_Warning            NaN
Name: 2019-01-23 00:00:00, dtype: object
return         0.0018526
vol            0.0272977
Vol_Warning          NaN
Name: 2019-01-24 00:00:00, dtype: object
return         0.0045536
vol            0.0241557
Vol_Warning          NaN
Name: 2019-01-25 00:00:00, dtype: object
return        -0.00353497
vol              0.017788
Vol_Warning           NaN
Name: 2019-01-28 00:00:00, dtype: object
return         0.000479608
vol              0.0181601
Vol_Warning            NaN
Name: 2019-01-29 00:00:00, dtype: object
return         0.0082328
vol            0.0181805
Vol_Warning          NaN
Name: 2019-01-30 00:00:00, dtype: object
return         0.00694101
vol             0.0184079
Vol_Warning           NaN
Name: 2019-01-31 00:00:00, dtype: object
return        -2.25759e-05
vol              0.0188008
Vol_Warning            NaN
Name: 2019-02-01 00:00:00, dtype: object
return         0.0032188
vol            0.0161446
Vol_Warning          NaN
Name: 2019-02-04 00:00:00, dtype: object
return         0.00301266
vol             0.0131812
Vol_Warning           NaN
Name: 2019-02-05 00:00:00, dtype: object
return        -0.000198626
vol              0.0129863
Vol_Warning            NaN
Name: 2019-02-06 00:00:00, dtype: object
return        -0.00428059
vol              0.012872
Vol_Warning           NaN
Name: 2019-02-07 00:00:00, dtype: object
return         0.00188255
vol             0.0137624
Vol_Warning           NaN
Name: 2019-02-08 00:00:00, dtype: object
return         0.00110971
vol             0.0137579
Vol_Warning           NaN
Name: 2019-02-11 00:00:00, dtype: object
return         0.00648535
vol             0.0137633
Vol_Warning           NaN
Name: 2019-02-12 00:00:00, dtype: object
return         0.00126584
vol             0.0134572
Vol_Warning           NaN
Name: 2019-02-13 00:00:00, dtype: object
return        -0.000313155
vol              0.0131478
Vol_Warning            NaN
Name: 2019-02-14 00:00:00, dtype: object
return         0.00713842
vol             0.0132606
Vol_Warning           NaN
Name: 2019-02-15 00:00:00, dtype: object
return         0.0010877
vol            0.0138254
Vol_Warning          NaN
Name: 2019-02-19 00:00:00, dtype: object
return         0.0006907
vol            0.0133306
Vol_Warning          NaN
Name: 2019-02-20 00:00:00, dtype: object
return        -0.00354183
vol             0.0118515
Vol_Warning           NaN
Name: 2019-02-21 00:00:00, dtype: object
return         0.00460458
vol             0.0125982
Vol_Warning           NaN
Name: 2019-02-22 00:00:00, dtype: object
return        -0.000122712
vol              0.0127933
Vol_Warning            NaN
Name: 2019-02-25 00:00:00, dtype: object
return        -0.000297152
vol              0.0126979
Vol_Warning            NaN
Name: 2019-02-26 00:00:00, dtype: object
return        -0.00101287
vol             0.0120554
Vol_Warning           NaN
Name: 2019-02-27 00:00:00, dtype: object
return        -0.00143881
vol             0.0122264
Vol_Warning           NaN
Name: 2019-02-28 00:00:00, dtype: object
return         0.00197521
vol              0.011217
Vol_Warning           NaN
Name: 2019-03-01 00:00:00, dtype: object
return        -0.00188013
vol             0.0102114
Vol_Warning           NaN
Name: 2019-03-04 00:00:00, dtype: object
return        -0.0016899
vol             0.010446
Vol_Warning          NaN
Name: 2019-03-05 00:00:00, dtype: object
return        -0.00334719
vol             0.0104716
Vol_Warning           NaN
Name: 2019-03-06 00:00:00, dtype: object
return        -0.00192419
vol             0.0107624
Vol_Warning           NaN
Name: 2019-03-07 00:00:00, dtype: object
return         0.000106828
vol              0.0109128
Vol_Warning            NaN
Name: 2019-03-08 00:00:00, dtype: object
return         0.00712184
vol             0.0102199
Vol_Warning           NaN
Name: 2019-03-11 00:00:00, dtype: object
return         0.00313824
vol             0.0114489
Vol_Warning           NaN
Name: 2019-03-12 00:00:00, dtype: object
return         0.00329123
vol             0.0115974
Vol_Warning           NaN
Name: 2019-03-13 00:00:00, dtype: object
return        -0.00145674
vol             0.0108294
Vol_Warning           NaN
Name: 2019-03-14 00:00:00, dtype: object
return         0.00330686
vol              0.010957
Vol_Warning           NaN
Name: 2019-03-15 00:00:00, dtype: object
return         0.00129999
vol             0.0111309
Vol_Warning           NaN
Name: 2019-03-18 00:00:00, dtype: object
return        -0.000353376
vol             0.00980779
Vol_Warning            NaN
Name: 2019-03-19 00:00:00, dtype: object
return        -0.000147212
vol             0.00981679
Vol_Warning            NaN
Name: 2019-03-20 00:00:00, dtype: object
return         0.00710316
vol            0.00982419
Vol_Warning           NaN
Name: 2019-03-21 00:00:00, dtype: object
return        -0.00714189
vol             0.0106071
Vol_Warning           NaN
Name: 2019-03-22 00:00:00, dtype: object
return         0.000220452
vol              0.0119138
Vol_Warning            NaN
Name: 2019-03-25 00:00:00, dtype: object
return         0.00435505
vol             0.0119083
Vol_Warning           NaN
Name: 2019-03-26 00:00:00, dtype: object
return        -0.000760449
vol              0.0123081
Vol_Warning            NaN
Name: 2019-03-27 00:00:00, dtype: object
return         0.00224387
vol             0.0122881
Vol_Warning           NaN
Name: 2019-03-28 00:00:00, dtype: object
return         0.00289627
vol             0.0122326
Vol_Warning           NaN
Name: 2019-03-29 00:00:00, dtype: object
return         0.00316289
vol             0.0123142
Vol_Warning           NaN
Name: 2019-04-01 00:00:00, dtype: object
return         0.000405282
vol              0.0122314
Vol_Warning            NaN
Name: 2019-04-02 00:00:00, dtype: object
return        -7.42342e-05
vol              0.0120291
Vol_Warning            NaN
Name: 2019-04-03 00:00:00, dtype: object
return         0.00152443
vol              0.011481
Vol_Warning           NaN
Name: 2019-04-04 00:00:00, dtype: object
return         0.00288321
vol             0.0111524
Vol_Warning           NaN
Name: 2019-04-05 00:00:00, dtype: object
return         0.000157672
vol              0.0111381
Vol_Warning            NaN
Name: 2019-04-08 00:00:00, dtype: object
return        -0.00254346
vol             0.0102019
Vol_Warning           NaN
Name: 2019-04-09 00:00:00, dtype: object
return         0.00354028
vol              0.010516
Vol_Warning           NaN
Name: 2019-04-10 00:00:00, dtype: object
return        -0.000639003
vol              0.0105534
Vol_Warning            NaN
Name: 2019-04-11 00:00:00, dtype: object
return         0.00253724
vol              0.010445
Vol_Warning           NaN
Name: 2019-04-12 00:00:00, dtype: object
return        -0.00023325
vol             0.0103533
Vol_Warning           NaN
Name: 2019-04-15 00:00:00, dtype: object
return        -0.00160163
vol             0.0103985
Vol_Warning           NaN
Name: 2019-04-16 00:00:00, dtype: object
return        -0.00259857
vol             0.0105489
Vol_Warning           NaN
Name: 2019-04-17 00:00:00, dtype: object
return         0.0016828
vol            0.0108836
Vol_Warning          NaN
Name: 2019-04-18 00:00:00, dtype: object
return        -0.00046807
vol            0.00956272
Vol_Warning           NaN
Name: 2019-04-22 00:00:00, dtype: object
return         0.00694285
vol            0.00720106
Vol_Warning           NaN
Name: 2019-04-23 00:00:00, dtype: object
return         0.00165764
vol             0.0086516
Vol_Warning           NaN
Name: 2019-04-24 00:00:00, dtype: object
return        -0.00111339
vol            0.00824873
Vol_Warning           NaN
Name: 2019-04-25 00:00:00, dtype: object
return         0.00426865
vol            0.00830426
Vol_Warning           NaN
Name: 2019-04-26 00:00:00, dtype: object
return        -0.000398317
vol             0.00865074
Vol_Warning            NaN
Name: 2019-04-29 00:00:00, dtype: object
return         0.000725104
vol             0.00859704
Vol_Warning            NaN
Name: 2019-04-30 00:00:00, dtype: object

In [24]:
ret_data_monthly.shape[0]

64